body {
  background-color: FloralWhite;
}

#header {
    
    color: PaleVioletRed ;
    text-align: center ;
    font-family: Brush Script MT ;
    font-size: 50px ;
}

#dress 
{

}


#p {
  font-family: Brush Script MT;
  font-size: 20px;
}
