body {
  background-color: FloralWhite;
}

#header {
    
    color: PaleVioletRed ;
    text-align: center ;
    font-family: Brush Script MT ;
    font-size: 50px ;
}

#dress 
{ 
    width:125px;
    height:125px;
    background-color:Salmon ;
    font-size: 12em;
    text-align: center;
    font-family: Brush Script MT;
}


#p {
  font-family: Brush Script MT;
  font-size: 20px;
}
